@charset "UTF-8";


/*Global / Desktop View*/
header {
    background-color: rgba(0,0,0,0.65);
    padding-top: 19px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 12px;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
nav {
    float: right;
    margin-top: -13px;
}
.mobile-view {
	display: none;
}
.desktop-view ul li {
	list-style-type: none;
	display: inline-block;
}
.desktop-view {
	margin-top: -4px;
}
.desktop-view ul li a {
	padding-top: 13px;
	padding-right: 43px;
	padding-bottom: 13px;
	padding-left: 43px;
	text-decoration: none;
	color: #E8E8E8;
}
.btn-red {
	background-color: #FF6138;
}
.btn-green {
	background-color: #00A388;
}
body {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    background-color: #7B7C91;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: large;
}
.BGimage {
    background-image: url("images/BGimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0%;
    height: 1000px;
    margin-bottom: 248px;
}
main {
    min-height: 800px;
    background-color: hsla(237,9%,53%,0.00);
    float: none;
    padding-right: 25px;
    padding-bottom: 245px;
}
footer {
    height: 80px;
    background-color: #555353;
    max-width: 1200px;
}
.thumbnails {
    margin-left: -58px;
    height: auto;
    margin-top: 340px;
    padding-top: 0px;
}

.social-icons {
    float: left;
    margin-top: 10px;
}
.copyright {
    float: right;
    color: #FFFFFF;
    margin-top: 23px;
    padding-right: 20px;
}
.social-icons img {
    padding-top: 0px;
    padding-left: 20px;
    height: auto;
}
.intro {
    margin-top: 314px;
    margin-left: 488px;
    margin-bottom: 351px;
}
.container main div {
}












/*Tablet View*/
@media (min-width: 401px) and (max-width: 768px){
.mobile-view {
	display: block;
	float: right;
	margin-top: 8px;
}
.desktop-view {
	display: none;
	text-align: right;
}
.expand {
	display: block;
}	
.desktop-view ul li {
	display: block;
	margin-top: 25px;
}
}



/*Mobile View*/
@media (max-width: 400px){
.mobile-view {
	display: block;
	float: right;
}
.desktop-view {
	display: none;
	text-align: right;
}
.expand {
	display: block;
}	
header a img {
	width: 83%;
	height: 83%;
}
.mobile-view {
	margin-top: 6px;
}
.desktop-view ul li {
	display: block;
	margin-top: 25px;
}
.BGimage {
	height: 526px;
}
}
